name: Build and Publish .NET Artifact to Release summary

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    strategy: 
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    
    # Build in "publish" folder
    - name: Publish
      run: dotnet publish ReFrontier/ReFrontier.csproj -c Release -o publish
    
    - name: Zip artifact
      shell: bash
      run: 
        if [ ${{ matrix.os }} == "windows-latest" ];
        then 7z a -tzip release-${{ matrix.os }}.zip "./publish/*";
        else zip -r release-${{ matrix.os }}.zip publish;
        fi;
    
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: release-${{ matrix.os }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Delete publish folder
      run: rm -r publish
        
